@font-face {
  font-family: "Jost";
  src: url("../public/assets/fonts/Jost-SemiBold.ttf");
}

.walletbutton {
  position: absolute;
  width: 270px;
  height: 41px;
  justify-content: right;
  top: 71px;
  background-color: #FECE00;
  border-radius: 10px;
  font-family: 'Jost';
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 23px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #FFFFFF;
  text-shadow: 0 0 2px #4B4A4A;
}

.postcontainer {
  width: 30%;
  display: flex;
  height: 218px;
  background-color: #FFFFFC1A;
  border-radius: 10px;

}

.postname {

  font-family: 'Jost';
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 35px;
  display: flex;
  padding-top: 20px;
  padding-left: 35px;

}

.postdate {
  font-family: 'Jost';
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 23px;
  display: flex;
  color: #FFFFFF;
  position: relative;


  padding-left: 35px;
}

.posttitle {

  font-family: 'Jost';
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 35px;
  display: flex;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;

  color: #FFFFFF;
}

.postsub {
  font-family: 'Jost';
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 35px;
  display: flex;
  color: #FFFFFF;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;

}

.postpost {
  font-family: 'Jost';
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 35px;
  display: flex;
  color: #FFFFFF;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;

}







.container {
  background-image: url(../public/assets/i/screen.jpg);
  background-repeat: no-repeat;
  background-size: 100% 100%;

}

.main {
  min-height: 100vh;
  flex: 1;
  display: flex;
  flex-direction: column;
}

.title a {
  color: #f213a4;
  text-decoration: none;
}

.title a:hover,
.title a:focus,
.title a:active {
  text-decoration: underline;
}

.title {
  margin: 0;
  line-height: 1.15;
  font-size: 4rem;
}

.title,
.description {
  text-align: center;
}

.connect {
  margin-bottom: 2rem;
  width: 230px;
}

.footer {
  width: 100%;
  height: 100px;
  display: flex;
  align-items: center;
  position: absolute;
  bottom: 0px;
  padding-left: 20px;
  padding-right: 50px;
}

.footerdiv {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}


.footerindiv {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 200px;
  position: relative;
  height: 80px;

  font-weight: 700;
}

.description {
  margin-top: 3rem;
  margin-bottom: 2rem;
  line-height: 1.5;
  font-size: 1.5rem;
}


.header {
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 20px;
  padding-right: 50px;

}

.img {
  width: 100%;
  max-width: 100px;
  height: auto;
  margin-right: 10px;
  margin-left: 10px;
  margin-top: 30px
}

.votesmenudiv {
  display: flex;
  width: 30%;

  margin-left: 10%;
  direction: column;
}

.votesmenutitle {
  font-family: 'Jost';
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 29px;
  display: flex;
  align-items: center;
  text-align: center;
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 10px;
  padding-bottom: 10px;
}


.votesdiv {
  display: flex;
  width: 50%;
  height: 138px;
  margin-left: 3%;
  margin-bottom: 20px;
  margin-right: 3%;
  margin-top: 20px;
}

.statsdiv {
  display: flex;
  width: 50%;
  height: 138px;
  margin-left: 3%;
  margin-bottom: 40px;
  margin-right: 3%;
  margin-top: 30px;
}

.statstitle {

  font-family: 'Jost';
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 35px;

}

.statsdescription {
  font-family: 'Jost';
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 23px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;

}

.statsstatus {

  font-family: 'Jost';
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 23px;
  padding-top: 10px;
  text-decoration-line: underline;
}

.statssmallbox {
  width: 33%;
  height: 100%;
  background-color: rgba(255, 255, 252, 0.1);
  ;
  border-radius: 10px;
}

.statsbigbox {
  padding-top: 20px;
  padding-left: 19px;
  padding-right: 10px;
  margin-left: 20px;
  width: 66%;
  height: 100%;
  background-color: rgba(255, 255, 252, 0.1);
  ;
  border-radius: 10px;

}

.headerdiv {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.headerindiv {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 200px;
  position: relative;
  height: 80px;
  font-family: 'Jost';
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 29px;
  display: flex;
  align-items: center;
  text-align: center;



  text-align: center;
}

.code {
  background: #fafafa;
  border-radius: 5px;
  padding: 0.75rem;
  font-size: 1.1rem;
  font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
    Bitstream Vera Sans Mono, Courier New, monospace;
}

.grid {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 1200px;
}

.card {
  background-color: #1b2129;
  margin: 1rem;
  padding: 1.5rem;
  text-align: left;
  color: inherit;
  text-decoration: none;
  border: 1px solid #eaeaea;
  border-radius: 10px;
  transition: color 0.15s ease, border-color 0.15s ease;
  max-width: 350px;
}

.card:hover,
.card:focus,
.card:active {
  background-color: #272c34;
  color: #0ea5e9;
  border-color: #0ea5e9;
}

.card h2 {
  margin: 0 0 1rem 0;
  font-size: 1.5rem;
}

.card p {
  margin: 0;
  font-size: 1.25rem;
  line-height: 1.5;
}

.logo {
  height: 1em;
  margin-left: 0.5rem;
}

@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
}

.card,
.footer {
  border-color: #222;
}

.code {
  background: #111;
}

.logo img {
  filter: invert(1);
}